%h1 Recipes

%table.table
  %thead
    %tr
      %th Title
      %th Cuisine
      %th Planning to cook on
      %th Tried before
      %th Instructions
      %th
      %th
      %th

  %tbody
    = render @recipes

%br

= link_to 'New Recipe', new_recipe_path
